/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}


/*flex container*/
.wrapper{

  margin: 10px;
  padding: 10px;

  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  width: 100%;

  justify-content: space-around;
}

.banner{

  width: 100%;
}

.banner img{
  /*display: inline;*/
  /*height: auto;*/
  max-height: 100%;
  max-width: 100%;
}

.plan{

  width: 30%;

  height: 400px;

  overflow: hidden;

  border: 1px solid #d1c7c7;
  /*margin: 10px;*/
  /*margin: 0 auto;*/
  background: rgb(255, 255, 255, 0.2);

  margin-top: 10px;

}

.plan img{
  display: block;
  max-width: 100%;
}


.plan > * {
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid red;*/

  /*justify-content: center;*/
  justify-content: space-around;
  /*flex-basis: 1 1 100%;*/
}

.plan h1{
  font-size: 18px;

}

.flex-nav{
  display: flex;
  /*width: 15%;*/
  margin: 10px;
  padding: 10px;
  
  margin-top: 0px;
  padding-top: 0px;


  padding-right: 0px;
  margin-right: 0px;
}



.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;

  /*height: 100vh;*/
  background-color: black;

}

.flex-nav a {
  background-color: #525258;
  
  margin-bottom: 4px;

}

.plan ul{
  padding: 10px;

  text-align: center;
}